/* General */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0F2167;
  color: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

p {
  color: #FFECD6; /* Dark blue */
}

/* Transition */
a, .btn {
  transition: all 300ms ease;
}

/* Desktop Navigation */
nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: #FFECD6; /* Dark blue */
  text-decoration: none;
}

a:hover {
  color: #FFECD6; /* Lighter blue */
  text-decoration: underline;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* Hamburger Menu */
#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: #FFECD6; /* Dark blue */
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #0F2167;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #FFECD6; /* Dark blue */
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  transform: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* Section */
section {
  padding-top: 4vh;
  height: fit-content;
  margin: 0rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* Profile */
#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section_pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section_text {
  align-self: center;
  text-align: center;
}

.section_text p {
  font-weight: 600;
}

.section_text_p1 {
  text-align: center;
}

.section_text_p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#social-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* Icon */
.icon {
  cursor: pointer;
  height: 2rem;
}

/* Button */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: #FFECD6 0.1rem solid; /* Dark blue */
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: #ffffff; /* Dark blue */
  color: #4CB9E7;
}

.btn-color-1:hover {
  background: #4CB9E7; /* Light blue */
  color: #ffffff;
}

.btn-color-2 {
  background: none;
  color: #ffffff;
}

.btn-color-2:hover {
  border: #FFFFFF 0.1rem solid; /* White */
}

.btn-container {
  gap: 1rem;
}

/* About Section */
#about {
  padding: 50px;
  text-align: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subhed{
  margin-top: 2rem;
}
.card {
  background-color: #3559E0; /* Light peach */
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 200px;
  width: 100%;
  color: #FFECD6;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.skill {
  margin-bottom: 0.5rem;
}

.skill-name {
  font-weight: bold;
}

.card-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

/* Experience Section */
#experience {}

.experience-cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.experience-container {
  width: 500px;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
  flex: 1;
  background: #3559E0;
  border-radius: 2rem;
  border: 0.1rem solid #FFECD6;
  text-align: left;
  transition: transform 0.3s ease;
}

.experience-container:hover {
  transform: scale(1.05);
}

.details-link,
.details-link:hover {
  text-decoration: none;
  color: inherit;
}

.complogo {
  height: 6rem;
  float: left;
  display: inline;
  padding: 1rem 1rem 2rem 0rem;
}

/* Education Section */
.education-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.details-container {
  width: 350px;
  height: inherit;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
  flex: 1;
  background: #3559E0;
  border-radius: 2rem;
  border: 0.1rem solid #FFECD6;
  text-align: center;
  transition: transform 0.3s ease;
}

.details-container:hover {
  transform: scale(1.05);
}

/* Projects Section */
#projects {
  padding: 4rem 0;
  text-align: center;
  height: fit-content;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin-top: 4rem;
}

.project {
  background-color: #3559E0; /* Light peach */
  color: #FFECD6;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 350px;
  height: inherit;
}

.project:hover {
  transform: scale(1.05);
}

.project-image {
  width: 100%;
  height: auto;
}

.project-details {
  padding: 1rem;
}

.project h2 {
  margin-bottom: 0.5rem;
}

.project p {
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #4CB9E7; /* Light blue */
  color: #fff;
  text-decoration: none;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #3559E0; /* Darker blue */
}

/* Footer Section */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  display: block;
  bottom: 0;
  height: fit-content;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content p {
  margin: 0;
}

.social-links img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.social-links img:hover {
  transform: scale(1.2);
}

/* Loading Animation */
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  z-index: 9999; /* Ensure the loading animation is above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  border: 5px solid rgba(0, 0, 0, 0.3); /* Light border color */
  border-top: 5px solid #333; /* Dark border color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Rotate animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Queries */
/* Medium Screen */
@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }

  #contact,
  #projects {
    height: fit-content;
  }
}

/* Small Screen */
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  .section_pic-container {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2rem;
  }

  #hamburger-nav {
    display: flex;
  }

  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  #profile,
  .section-container {
    display: block;
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0%;
  }

  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-containers {
    margin-top: 0;
  }
}

/* Extra Small Screen */
@media screen and (max-width: 600px) {

  #contact {
    height: 40vh;
  }

  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }
}


@media screen and (max-width: 400px) {
  
}
